<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/sidebar/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/sidebar/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/sidebar/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/sidebar/css/demo.css}"/>
</head>
<body>
    <div id="wrapper">
        <!-- TOP NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="/">
                    <img th:src="@{/images/logo.png}" style="width: 130px;height: 35px;" alt="Logo" class="img-responsive logo">
                </a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth">
                        <i class="lnr lnr-arrow-left-circle"></i>
                    </button>
                </div>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">GO</button>
                        </span>
                    </div>
                </form>

                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img th:src="@{/images/temp_user.jpg}" class="img-circle" alt="AVatar">
                                <span>user name</span>
                                <i class="icon-submenu lnr lnr-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
<!--                        <a th:if="!${user?idx}" href="/login" style="margin-top: auto;">로그인</a>-->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END TOP NAVBAR -->
        <!-- SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li><a href="#" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i><span>Pages</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="#" class="">TESTPAGE 준비중</a></li>
                                    <li><a href="/login" class="">Login</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END SIDEBAR -->

    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/sidebar/js/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/sidebar/js/bootstrap.min.js}"></script>
    <script th:src="@{/sidebar/js/klorofil-common.js}"></script>


</body>
</html>