<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/test/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/test/style.css}"/>
    <link rel="stylesheet" th:href="@{/test/main.css}"/>
    <link rel="stylesheet" th:href="@{/test/demo.css}"/>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="/">
                    <img th:src="@{/images/temp_user.jpg}" alt="Logo" class="img-responsive logo">
                </a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button
                </div>
            </div>
        </nav>
    </div>


</body>
</html>