<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/markdown/lib/base16-light.css}">
    <link rel="stylesheet" th:href="@{/markdown/codemirror/lib/codemirror.css}">
    <link rel="stylesheet" th:href="@{/markdown/index.css}">
    <link rel="stylesheet" th:href="@{/markdown/lib/github-markdown.css}">
    <link rel="stylesheet" th:href="@{/markdown/lib/sweetalert.css}">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>게시글 등록</h1>
    </div>
    <div class="pull-right">
    </div>
    <br/>
    <input id="user_idx" type="hidden" th:value="${user?.idx}"/>
    <input id="board_idx" type="hidden" th:value="${board?.idx}"/>
    <div class="pull-left">
        <div th:if="!${board?.idx} or ${board?.user?.idx} == ${user?.idx}">
            <label>썸네일 등록</label>
            <form method="post" enctype="multipart/form-data" id="formData">
                <input class="btn" id="thumbnail" type="file" name="thumbnail">
            </form>
        </div>
    </div>
    <div class="pull-right">
        <a th:href="@{/home}" class="btn btn-default">목록으로</a>
        <!-- board가 생성된적이 없을때만 보이도록 설정 -->
        <button th:if="!${board?.idx}" type="button" class="btn btn-primary" id="insert">저장</button>

        <div th:if="${board?.user?.idx} == ${user?.idx}" style="display: inline-block;">
            <button type="button" class="btn btn-primary" id="readMode">읽기 모드</button>
            <button th:if="${board?.idx}" type="button" class="btn btn-info" id="update">수정</button>
            <button th:if="${board?.idx}" type="button" class="btn btn-danger" id="delete">삭제</button>
        </div>
    </div>
    <div>
        <input id="board_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.title}"/>
    </div>
</div>
<div>
    <h1 id="read_title" style="margin-left: 10%;"></h1>
    <hr/>
    <div id="in">
        <form><textarea id="code" class="col-md-1 form-control input-sm" th:text="${board?.content}"></textarea></form>
    </div>
    <div id="out"></div>

</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/markdown/lib/markdown-it.js}"></script>
<script th:src="@{/markdown/lib/markdown-it-footnote.js}"></script>
<script th:src="@{/markdown/lib/highlight.pack.js}"></script>
<script th:src="@{/markdown/lib/emojify.js}"></script>
<script th:src="@{/markdown/codemirror/lib/codemirror.js}"></script>
<script th:src="@{/markdown/codemirror/overlay.js}"></script>
<script th:src="@{/markdown/codemirror/xml/xml.js}"></script>
<script th:src="@{/markdown/codemirror/markdown/markdown.js}"></script>
<script th:src="@{/markdown/codemirror/gfm/gfm.js}"></script>
<script th:src="@{/markdown/codemirror/javascript/javascript.js}"></script>
<script th:src="@{/markdown/codemirror/css/css.js}"></script>
<script th:src="@{/markdown/codemirror/htmlmixed/htmlmixed.js}"></script>
<script th:src="@{/markdown/codemirror/lib/util/continuelist.js}"></script>
<script th:src="@{/markdown/lib/spell-checker.min.js}"></script>
<script th:src="@{/markdown/lib/rawinflate.js}"></script>
<script th:src="@{/markdown/lib/rawdeflate.js}"></script>
<script th:src="@{/markdown/lib/sweetalert.min.js}"></script>
<script th:src="@{/markdown/index.js}"></script>
<script th:inline="javascript">
    var login_user = [[${user?.idx}]];
    var editor_user = [[${board?.user?.idx}]];
</script>
<script>
    var user_idx = $('#user_idx').val();

    $(document).ready(function () {
        if ((login_user != editor_user) && editor_user != null) {
            $('#in').hide();
            $('#out').addClass("active");
            $('#board_title').hide();
            $('#read_title').text($('#board_title').val());
        }
        editor.setValue(editor.getValue());
    });

    $('#readMode').click(function () {
        readMode();
    });

</script>
<script th:if="!${board?.idx}">

    $('#insert').click(function () {
        var form = $('#formData')[0];
        var formData = new FormData(form);
        // var jsonData = JSON.stringify({
        //     title: $('#board_title').val(),
        //     content: editor.getValue(),
        //     user: $('#user_idx').val()
        // });
        formData.append("title", $('#board_title').val());
        formData.append("content", editor.getValue());
        formData.append("user", $('#user_idx').val());
        $.ajax({
            url: '/api/boards',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: formData,
            contentType: false,
            processData: false,
            cache: false,
            success: function () {
                alert('저장되었습니다.');
                window.location.replace("/home");
            },
            error: function () {
                alert('저장 실패');
            }
        });
    });
</script>
<script th:if="${board?.idx}">
    $('#update').click(function () {
        var form = $('#formData')[0];
        var formData = new FormData(form);
        formData.append("title", $('#board_title').val());
        formData.append("content", editor.getValue());
        formData.append("user", $('#user_idx').val());
        // var jsonData = JSON.stringify({
        //     title: $('#board_title').val(),
        //     content: editor.getValue()
        // });
        $.ajax({
            url: '/api/boards/update/' + $('#board_idx').val(),
            type: 'POST',
            enctype: 'multipart/form-data',
            data: formData,
            contentType: false,
            processData: false,
            cache: false,
            success: function () {
                alert('수정 되었습니다.');
                window.location.replace("/home");
            },
            error: function () {
                alert('수정 실패');
            }
        });
    });
    $('#delete').click(function () {
        $.ajax({
            url: '/api/boards/' + $('#board_idx').val(),
            type: 'DELETE',
            success: function () {
                alert('삭제되었습니다.');
                window.location.replace("/home");
            },
            error: function () {
                alert('삭제 실패');
            }
        });
    });
</script>

</body>
</html>