#in {
    float: left;
    margin-top: 5px;
    padding-left: 10px;
    display: inline-block;
    width: 50%;
    max-width: 50%;
    height: auto;
    overflow: auto;
    font-size: 12px;
}

#out {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    width: 50%;
    vertical-align: top;
    word-break: break-all; /* 창밖으로 글자가 나가지 않도록 하는 설정 */
    overflow: auto;
    background-color: white;
}

.emoji {
    width: 1em;
    height: 1em;
    vertical-align: baseline;
}

.focused {
    display: block;
    width: 50%;
    margin-left: -25%;
    padding-left: 0%;
    left: 0;
    border-left: 0 !important;
}
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}