<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/sidebar/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/sidebar/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/sidebar/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/sidebar/css/demo.css}"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div id="wrapper">
    <!-- TOP NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="/">
                <img th:src="@{/images/logo.png}" style="width: 130px;height: 35px;" alt="Logo"
                     class="img-responsive logo">
            </a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth">
                    <i id="arrow-circle-left" class="fa fa-arrow-circle-left"></i>
                </button>
            </div>
            <!-- search form -->
            <!--            <form class="navbar-form navbar-left">-->
            <!--                <div class="input-group">-->
            <!--                    <input type="text" value="" class="form-control" placeholder="Search dashboard...">-->
            <!--                    <span class="input-group-btn">-->
            <!--                            <button type="button" class="btn btn-primary">GO</button>-->
            <!--                        </span>-->
            <!--                </div>-->
            <!--            </form>-->

            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <!--  로그인 했을떄의 ui     -->
                    <li class="dropdown" th:if="${user?.idx}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img th:src="@{/images/temp_user.jpg}" class="img-circle" alt="AVatar">
                            <span th:text="${user?.name}"></span>
                            <!--                            임시 아이콘-->
                            <!--                            <i class="icon-submenu lnr lnr-chevron-down"></i>-->
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/board/page}"><i class="lnr lnr-exit"></i> <span>글쓰기</span></a></li>
                            <li><a th:href="@{/logout}"><i class="lnr lnr-exit"></i> <span>로그아웃</span></a></li>
                        </ul>
                    </li>
                    <!-- 로그인을 하지 않았을때 ui -->
                    <li th:if="!${user?.idx}">
                        <div class="pull-right" style="margin-top: 20px;">
                            <a href="/login" class="btn btn-sm">로그인</a>
                            <a href="/signUp" class="btn btn-sm">회원가입</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END TOP NAVBAR -->
    <!-- SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/" class=""><i class="lnr lnr-home"></i> <span>메인페이지</span></a></li>
                    <li><a href="#" class=""><i class="lnr lnr-code"></i> <span>채팅(준비중)</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i
                                class="lnr lnr-file-empty"></i><span>게시글</span><i
                                class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse">
                            <ul class="nav">
                                <li><a th:href="@{/home/notice}" class="">공지사항</a></li>
                                <li><a th:href="@{/home/free}" class="">잡담</a></li>
                                <li><a th:href="@{/home/coding}" class="">프로그래밍</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="page-header">
                    <h1>게시글 목록</h1>
                </div>
                <div class="pull-right" style="width:100px;margin:10px 0;">
                    <a href="/board/page" class="btn btn-primary btn-block">등록</a>
                </div>
                <br/><br/><br/><br/>
                <!--    섬네일 포스팅 방식으로 변경    -->
                <div class="container-fluid">

                    <div class="row">
                        <div id="posting_box" class="col-md-4" th:each="board : ${boardList}">
                            <a class="thumbnail" th:href="'/board/page?idx='+${board.idx}">
                                <img th:with="thumbnail_image=${board.thumbnail?.storedFilePath}?${board.thumbnail.storedFilePath}:'images/no-image.png'"
                                     th:src="@{${'/'+thumbnail_image}}" class="img-fluid img-thumbnail"
                                     style="height: 250px;">
                            </a>
                            <p id="title" class="display-3 font-weight-bold" th:text="${board.title}"></p>
                            <p id="user_name" class="text-right" th:text="${board.user.name}"
                               style="color: #5131F1;font-size: 15px;"></p>
                            <p id="date" class="text-right" style="font-size: 15px;"
                               th:text="${board.createdDate} ? ${#temporals.format(board.createdDate,'yyyy년 MM월 dd일')} : ${board.createdDate}"></p>
                        </div>
                    </div>
                </div>
                <br/>
                <!-- Pagination -->
                <nav aria-label="Page navigation" style="text-align:center;">
                    <ul class="pagination"
                        th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">
                        <li><a aria-label="Previous" href="/board/list?page=1">&laquo;</a></li>
                        <li th:style="${boardList.first} ? 'display:none'">
                            <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
                        </li>

                        <li th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                            th:class="(${page} == ${boardList.number}+1) ? 'active'">
                            <a th:href="@{/board/list(page=${page})}" th:text="${page}"><span
                                    class="sr-only"></span></a>
                        </li>

                        <li th:style="${boardList.last} ? 'display:none'">
                            <a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>
                        </li>
                        <li><a aria-label="Next" th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/sidebar/js/jquery.slimscroll.min.js}"></script>
<script th:src="@{/sidebar/js/bootstrap.min.js}"></script>
<script th:src="@{/sidebar/js/klorofil-common.js}"></script>

</body>
</html>