<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container" style="text-align: center; width: 30%;">
    <br/>
    <h2>로그인</h2> <br/><br/>
    <form id="login_form" style="margin: 10px;">
        <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="아이디를 입력해 주세요."/>
        <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="비밀번호를 입력해 주세요."/>
    </form>
    <div>
        <button class="btn btn-outline-primary btn-block" id="login_submit">로그인</button>
        <button class="btn btn-outline-primary btn-block" id="sign_up">회원가입</button>
    </div>
    <hr/>
    <p>다른 계정으로 로그인</p>
    <a href="javascript:;" class="btn_social" data-social="google"><img th:src="@{/images/login_button/google_login_button.PNG}" width="60px"
                                                                        height="60px"/></a>
    <a href="javascript:;" class="btn_social" data-social="kakao"><img th:src="@{/images/login_button/kakao_login_button.png}" width="60px"
                                                                       height="60px"/></a>
    <a href="javascript:;" class="btn_social" data-social="github"><img th:src="@{/images/login_button/github_login_button.png}" width="60px"
                                                                        height="60px"/></a>


</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    //OAuth2 로그인
    $('.btn_social').click(function () {
        var socialType = $(this).data('social');
        window.location.replace("/oauth2/authorization/" + socialType);
    });

    //기본 로그인
    $('#login_submit').click(function () {
        var sign_in_form = $("#login_form").serialize();
        $.ajax({
            type: 'POST',
            url: '/login',
            cache: false,
            data: sign_in_form,
            success: function (data) {
                window.location.replace("/board/list");
            },
            error: function (request, status, error) {
                console.error("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    });
    //회원가입 페이지 이동
    $('#sign_up').click(function () {
        window.location.href = "/signUp"
    });
</script>
</body>
</html>